div.article{
	clear:both;
	min-height:90px;
	padding:10px;
	background-color: #fff;
	margin-bottom: 2px;
	padding-top: 25px;
	font-size: .9em;
	span.img{
		float: left;
		img{
			width: 60px;
		}
	}
	span.nom, span.description{
		margin-left: 25px;
	}
	
	span.prix {
		float: right;
		position: relative;
		right: 50px;
		top: -35px;
	}
	span.actions{
		margin-left: 25px;
	}
	span.actions{
		a{
			text-decoration: none;
		}
		img{
			width: 12px;
			border: 1px solid black;
		}
		span.supprimer a, span.ajouter a{
			clear: both;
			float: right;
			margin-right: 25px;
			img{
				width: 20px;
				position: relative;
				top:-35px;
				right: 35px;
				border: none;
			}
		}
	}
}
div.total {
	background-color: #fff;
	padding: 10px;
	text-align: right;
}
