div.cadre{
	ul{
		list-style: none;
		li{
			display:block;
			clear: both;
			input{
				width: 100px;
				height: 25px;
				font-size: 12px;
			}
		}
		img{
			float:left;
		}
	}

}
div.panier{
	position: absolute;
	top:50px;
	right:0px;
}