div.cadre ul {
  list-style: none; }
  div.cadre ul li {
    display: block;
    clear: both; }
    div.cadre ul li input {
      width: 100px;
      height: 25px;
      font-size: 12px; }
  div.cadre ul img {
    float: left; }

div.panier {
  position: absolute;
  top: 50px;
  right: 0px; }
