<!-- Menu Administrateur -->
<div id="menuAdmin">
		<ul>
			<li><a href="?page=1" id="newCommande">Nouvelles commandes</a></li>
			<li><a href="?page=2" id="newAdmin">Gerer les Admin</a></li>
			<li><a href="?page=3" id="newProduit">Gerer les produits</a></li>
			<li><a href="?page=4" id="newClient">Chercher Client</a></li>
		</ul>
</div>
<form action='?page=deconexion' method='POST'>
	<input type="submit" id="deconexion" name="deconexion"   value="Deconexion"/>
</form>
