<!-- Page Oliviers O'Ho -->
<div id="contenuCentre">
<a name="haut"></a>
	
	<h1>Des Oliviers...</h1> <h1>Des montagnes...</h1> <h1>Des vies!</h1>
	
	<div id="listeNous"><ul>
		<li><a href="#quisommesnous">Qui sommes nous</a></li>
		<li><a href="#nosterrains">Nos terrains</a></li>
		<li><a href="#decantation">Décantation</a></li>
		<li><a href="#notresavoirfaire">Notre savoir faire</a></li>
	</ul></div>
	
</div>

<!-- Slide Show pour rendre la page plus présentable -->

<div class="image"> 
	
</div>

<div id="aproposdenous">
	<h3><a name="quisommesnous">Qui sommes nous?</a></h3>
	<p>La famille Ould Hocine possède plus de 1000 oliviers, et produit de l’huile d’Olive depuis la fin de 19ème siècle. Forte par son expérience et par ses outils, elle souhaite faire connaitre cette huile aux multiples vertus au monde entier. </p>

	<p>Ayant, grâce à leurs multiples voyages, dégusté différentes huiles commercialisées dans le monde, des membres de la famille Ould Hocine ont noté non seulement une différence entre ces dernières, mais aussi, des critères de commercialisation qui feraient de l’huile produite par la famille, une des meilleurs sur le marché. </p>

	<p>Effectivement, l’huile d’Olive algérienne en plus d’être légère et fruitée, elle donne aux plats une toute autre perspective. Pouvant même être dégustée sans accompagnement, l’huile d’Olive des montages et terres Kabyles ferait le bonheur des amateurs du gout raffiné et de l’huile d’Olive, dont les bienfaits ne sont plus à prouver.</p>

	<p>Par ailleurs, ne comprenant pas pourquoi cette huile est méconnue, la famille a décidé de s’offrir une vitrine sans frontière (l’internet) pour pouvoir donner un souffle de vie à ce produit dont la vie serait inconcevable dans les régions de sa culture. <br /> <a href="#haut">Haut</a></p>
	
	<h3><a name="nosterrains">Nos terrains :</a></h3>
	<p> La Kabylie est une région historique et ethnolinguistique fortement homogène située dans le nord de l'Algérie, à l'est d'Alger.</p>

	<p>Terre de montagnes densément peuplées, elle est entourée de plaines littorales à l'ouest et à l'est, par la Méditerranée au nord et par les Hauts-Plateaux au sud. Dénuée d'existence administrative globale, elle tient son nom des Kabyles, population berbère dont elle est le foyer. La région est connue pour sa culture, ses traditions amazigh typiques et sa lutte pour la reconnaissance de l'identité berbère dans l'Algérie contemporaine. Son histoire est faite de résistances aux différents conquérants, des phéniciens aux français, mais elle est aussi marquée par l'émergence sur son territoire de certains États locaux comme les Hammadides, ou Nord-Africains comme les Fatimides. Son relief essentiellement montagneux est le siège siège d'un écosystème varié et d'une biodiversité préservée, à l'image des paysages de la région. L'agriculture locale n'offrant que des revenus limités, la Kabylie est aussi un important centre de production artisanale et une terre d'émigration. <br /> <a href="#haut">Haut</a></p>
	
	<h3><a name="decantation">Décantation :</a></h3>


	<p>Pourquoi ne retrouve-t-on presque plus le terme « pression à froid » sur les bouteilles d’huile d’olive?</p>

	<p>La pression à froid n’est presque plus utilisée, pour la production d’huile d’olive, qu’elle soit commerciale ou artisanale. De nombreuses années de recherches et d’essais ont démontré que l’huile d’olive bénéficie d’une qualité supérieure lorsqu’elle est produite selon un système d’extraction.</p>

	<p>Quelques moulins artisanaux ont conservé, à l’intention des touristes, les presses et les meules de pierre qui sont, en grande partie, disparues de l’outillage; elles ont laissé place aux malaxeurs et aux centrifugeuses. D’où l’emploi du terme « extraction à froid », qui définit précisément la technique, qui maintenant remplace celui de « pression à froid ».<br /> <a href="#haut">Haut</a></p>
	
	<h3><a name="notresavoirfaire">Notre savoir faire :</a></h3>
	<p> Les oliveurs cueillent les fruits à l'aide d'un peigne passé dans la ramure pour faire tomber les olives dans un filet posé autour de l'arbre. Ce filet les protège de tout contact avec la terre, évitant ainsi que le fruit ne s'abîme. Triées, débarrassées des feuilles et des brindilles, les olives sont transportées au moulin dans des caisses à claire voie.  </p>
	
	<p> Placées sur un tapis roulant, lavées et effeuillées, les olives sont triturées dans un broyeur qui transforme la pulpe et le noyau en une pâte épaisse. Cette pâte est ensuite pressée dans un machine à vis sans fin. L'huile s'écoule alors doucement pendant 30 minutes environ. Il suffit ensuite de passer le jus de la presse dans une centrifugeuse pour séparer l'huile et l'eau de végétation. L'opération n'a pas duré plus d'une heure.</p>

	<p> L'huile d'olive Vierge Extra du domaine Ould Hocine est un pur jus de fruit obtenu par 1ère Pression à Froid. Aucun produit chimique ni raffinage n'interviennent dans son élaboration, elle est la seule huile à pouvoir s'enorgueillir d'un tel procédé de fabrication. <br /> <a href="#haut">Haut</a></p>
	
	<p><a href="Contacts_Oho.php">Contactez-nous</a></p>
</div>