		<!-- CSS -->
		<link href="css/css.css" rel="stylesheet" type="text/css" />

		<!-- Javascript -->
		
		
		<!-- Contient le javascript pour la gestion du css -->
		<script type="text/javascript" src="js/menu.js" ></script>	
		<!-- Contient le javascript pour valider le formulaire -->
		<script type="text/javascript" src="js/validerForme.js" ></script>	
		<!-- Contient le javascript pour MD5 -->
		<script type="text/javascript" src="js/encryption.js" ></script>
