<!-- Fonts en lignes, offertes par google, si un jour elle deviennent indisponible, Helvetica prendra la relève -->
<link href="css/css.css" rel="stylesheet" type="text/css" />
<link href="css/produits.css" rel="stylesheet" type="text/css" />
<link href="css/panier.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Lustria' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Simonetta' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css' /> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/png" href="../medias/favicon/favicon.ico" />
<!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="medias/favicon/favicon.ico" /><![endif]-->