<!-- Formulaire d'inscription -->
<h1 id="inscription">Inscription :</h1>

<form name="formInscription" method="post" action="">

					<div class="zone">	
						<label id="lbl_txtcCourriel">Courriel : </label>
						<input type="text" name="txtcCourriel"/>
						<div class="err" id="err_txtcCourriel"></div>
					</div>

					<div class="zone">	
						<label id="lbl_txtsPassInsc">Mot de passe : </label>
						<input type="password" name="txtsPassInsc"/>
						<div class="err" id="err_txtsPassInsc"></div>
					</div>

					<div class="zone">	
						<label id="lbl_txtsPassInsc2">Retappez votre mot de passe : </label>
						<input type="password" name="txtsPassInsc2"/>
						<div class="err" id="err_txtsPassInsc2"></div>
					</div>

					<div class="zone">	
						<label id="lbl_txtsNom">Nom :  </label>
						<input type="text" name="txtsNom"/>
						<div class="err" id="err_txtsNom"></div>	
					</div>
								
					<div class="zone">	
						<label id="lbl_txtsPrenom">Prenom : </label>
						<input type="text" name="txtsPrenom"/>
						<div class="err" id="err_txtsPrenom"></div>
					</div>
								
					<div class="zone">	
						<label id="lbl_txtnTel">Téléphone : </label>
						<input type="text" name="txtnTel"/>
						<div class="err" id="err_txtnTel"></div>
					</div>
					<div class="zone">	
						<label id="lbl_listePays">Adresse :</label>
						<input type="text" name="txtnAdresse"/>
						<!--<?php echo $listePays; ?>-->
						<div class="err" id="err_listePays"></div>
					</div>
										
					<div class="zone">
						<div class="vide">
						<input type="hidden" name="grainSel" value="<?php echo $_SESSION["grainSel"];?>"/>	
						</div>
						<input type="button" name="sbmInscription" onclick="if(validerForm(formInscription.elements)) encodeEtInscri();" value="Inscription"/>
					</div>
			</form>
			<form name="formSoumissionInscription" method="post" action="">
				<input type="hidden" name="txtsNom"/>
				<input type="hidden" name="txtsPrenom"/>
				<input type="hidden" name="txtcCourriel"/>
				<input type="hidden" name="txtsPassInsc"/>
				<input type="hidden" name="txtnTel"/>
				<input type="hidden" name="listePays"/>
			</form>