
<!-- jQuery -->
<script type="text/javascript" src="JQuery/jquery-1.6.4.min.js" ></script>
<script type="text/javascript">
	// <![CDATA[
		$(document).ready(function(){
		$('div#contenuPrincipal').wrap('<div class="cadre"></div>');
		/*$('li, div#menu').wrap('<div class="cadreMenu"></div>');*/
		
		$('div.cadre').prepend('<div class="cadre_hd"></div><div class="cadre_hg"></div>');
		$('div.cadre').append('<div class="cadre_bd"></div><div class="cadre_bg"></div>');
		});
	// ]]>
</script>	