<script type="text/javascript" src="JQuery/jquery-cycle.js"></script>
<script type="text/javascript">
	// <![CDATA[
	$(document).ready(function() { 
		$('.image').cycle({ 
			fx:              'scrollLeft,scrollDown,scrollRight,scrollUp', 
			randomizeEffects: false, 
			easeInQuad:          'easeInBack' // easing supported via the easing plugin 
		}); 
	});             
	// ]]>
</script>