<!-- Menu général du site web -->
	<div id="menu">
		<ul>
			<li><a href="?page=accueil" id="accueil">Accueil</a></li>
			<li><a href="?page=oliviers" id="oliviers">Oliviers O'Ho</a></li>
			<li><a href="?page=produits" id="produits">Produits</a></li>
			<li><a href="?page=contacts" id="contact">Contact</a></li>
		</ul>
	</div>