<!-- Menu dirigeant vers les réseaux sociaux -->

<div id="reseaux">
	<div id="google">
		<a href="http://www.plus.google.com" target= "_blank" ><img src="medias/reseaux/google-plus.png" alt="Google plus OHO" width="24" height="24" /></a>
	</div>
	
	<div id="twitter">
		<a href="http://www.twitter.com" target= "_blank" ><img src="medias/reseaux/twitter.png" alt="twitter OHO" width="24" height="24" /></a>
	</div>

	<div id="facebook">
		<a href="http://www.facebook.com" target= "_blank" ><img src="medias/reseaux/facebook.png" alt="facebook OHO" width="24" height="24" /></a>
	</div>
	
	<div id="youtube">
		<a href="http://www.youtube.com" target= "_blank" ><img src="medias/reseaux/youtube.png" alt="youtube OHO" width="24" height="24" /></a>
	</div>

</div>